body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background-color: rgb(236, 236, 236);
}

header {
    display: flex;
    height: 100vh;
}

/* Header CSS */
.search-bar {
    display: flex;
    justify-content: space-around;
}

.search-container {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
    background-color: #FFF;
}

.search-input {
    display: flex;
    align-items: center;
    gap: 20px;
}

.content {
    width: 100vw;
    overflow-x: hidden;
}

input {
    width: 500px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid rgb(236, 236, 236);
    background-color: rgb(236, 236, 236);
}

.search-icon,
.bell-icon {
    width: 40px;
    height: 50px;
}

.dashboard-logo {
    width: 50px;
    filter: invert(100%);
}

.dashboard-icon {
    width: 40px;
    filter: invert(100%);
}


.search-bar-profile-picture {
    width: 60px;
    height: 60px;
}

.search-bar-right {
    display: flex;
    gap: 30px;
    align-items: center;

}

.search-bar-right p {
    font-size: 1.5rem;
    font-weight: bold;
}

.header-bottom-profile-picture {
    width: 80px;
    height: 80px;
}

.header-bottom-left {
    display: flex;
    gap: 40px;
    font-weight: bold;
}

.header-bottom-left span {
    font-size: 2rem;
}

.header-bottom {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 35px;
}

.header-buttons {
    display: flex;
    gap: 20px;
}

.header-buttons button {
    width: 120px;
    height: 60px;
    border-radius: 15px;
    border: none;
    background-color: rgb(255, 46, 46);
    color: #FFF;
    font-weight: bold;
}

.header-buttons button:hover {
    background-color: rgb(255, 75, 75);
}

/* Side bar CSS */
.side-bar {
    background-color: rgb(255, 46, 46);
    color: #FFF;
    font-weight: bold;
    padding: 20px;
    width: 300px;
}

.title {
    display: flex;
    gap: 15px;
    margin-bottom: 40px;
    font-size: 2rem;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
    font-size: 1.5rem;
}

li a {
    color: #FFF;
    text-decoration: none;
}

li:nth-child(7) {
    margin-top: 55px;
}

.main-content-wrapper {
    padding: 50px;
    display: flex;
    gap: 100px;

}

.main-content-title {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 50px;
    margin-bottom: -25px;
}

.grid-container {
    display: grid;
    column-gap: 50px;
    grid-template-columns: 350px 350px;
}

.grid-item {
    height: 200px;
    border-radius: 10px;
    padding: 20px;
    background-color: #FFF;
    border-left: 7px solid red;
}

.grid-item-title {
    font-weight: bold;
}

.grid-icons {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.grid-icon {
    width: 25px;
}

.announcements-container {
    background-color: #FFF;
    border-radius: 10px;
    padding: 20px;
}

.announcements-title-1 {
    font-weight: bold;
    font-size: 1.5rem;
}

.announcements-title-2,
.announcements-title-3,
.announcements-title-4 {
    font-weight: bold;
}

.trending-title {
    font-weight: bold;
    font-size: 1.5rem;
}

.trending-wrapper {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-top: 15px;
}

.trending-wrapper p {
    margin: 0;
}

.trending-profile-picture {
    width: 60px;
    height: 60px;
}

.trending-container {
    background-color: #FFF;
    border-radius: 10px;
    padding: 20px;
}

.grid-container-2 {
    display: flex;
    flex-direction: column;
    margin-top: -80px;
}

.grid-item-7,
.grid-item-8 {
    width: 400px;
}